<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellOrder</key>
	<array>
		<string>2</string>
		<string>1</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>2</string>
		<string>0</string>
		<string>3</string>
		<string>0</string>
		<string>4</string>
		<string>2</string>
		<string>5</string>
		<string>1</string>
	</array>
	<key>5</key>
	<dict>
		<key>Fid</key>
		<string>5</string>
		<key>img</key>
		<string>100w.png</string>
		<key>reward</key>
		<string>1000000</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Fid</key>
		<string>4</string>
		<key>img</key>
		<string>1000.png</string>
		<key>reward</key>
		<string>1000</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Fid</key>
		<string>3</string>
		<key>img</key>
		<string>500.png</string>
		<key>reward</key>
		<string>500</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Fid</key>
		<string>2</string>
		<key>img</key>
		<string>nochips.png</string>
		<key>reward</key>
		<string>0</string>
	</dict>
	<key>1</key>
	<dict>
		<key>Fid</key>
		<string>1</string>
		<key>img</key>
		<string>10w.png</string>
		<key>reward</key>
		<string>100000</string>
	</dict>
	<key>0</key>
	<dict>
		<key>Fid</key>
		<string>0</string>
		<key>img</key>
		<string>1w.png</string>
		<key>reward</key>
		<string>10000</string>
	</dict>
</dict>
</plist>
